{% extends 'shop_website/base/base.html' %}
{% load static %}
{%  block title %} Product Detail {% endblock%}
{% block detail_content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1"> Quantity: {{product.quantity}}
                    
                </div>
                <div>
                    <a href="{% url 'delete_product' product.id %}" id="delete-link">
                        <button type="button" class="btn btn-danger" onclick="return confirmDelete();">Delete</button>
                    </a>
                    
                    <script type="text/javascript">
                        function confirmDelete() {
                            var isValid = confirm('Are you sure?');
                            if (!isValid) {
                                alert("It won't delete. Yay!");
                                return false;
                            }
                            return true; 
                        }
                    </script>
                    
                    <a href="{% url 'edit_product' product.id %}">
                    <button type="submit" class="btn btn-secondary"> Edit </button>
                    
                    </a>
                </div>
                <h1 class="display-5 fw-bolder">{{ product.name}}</h1>
                <div class="fs-5 mb-5">
                    {% if product.discount > 0 %}
                                        <span class="text-muted text-decoration-line-through">
                                        ${{product.price}} </span>
                                        ${{product.discounted_price}}
                                    {% else%}
                                        ${{product.price}}
                                    {% endif %}
                </div>
                <p class="lead">{{ product.description}}</p>
                <div class="d-flex">
                    <form method="post" action="{% url 'place_order' product.id %}">
                        {% csrf_token %} 
                        <div class="form-group"> 
                            <h2>Place an order</h2>
                        </div>
                        <div> 
                            <ul>
                                {% for message in messages %}
                                    {% if 'error' in message.tags %}
                                        <li style="color:red"> 
                                            {{message}}
                                        </li>
                                    {% elif 'succes' in message.tags %}
                                        <li  style="color:green">
                                            {{message}} 
                                        </li>
                                    {% endif %}
                                {% endfor %}


                            </ul>
                        </div>
                        <div class="form-group mb-3">
                          <label for="formGroupExampleInput">Your name</label>
                          <input type="text" class="form-control" name="name" value="{{ form.name.value|default:'' }}" placeholder="Your name" required>
                        </div>
                        <div class="form-group mb-3">
                          <label for="formGroupExampleInput2">Your phone</label>
                          <input type="text" class="form-control" name="phone_number" value="{{ form.phone_number.value|default:'' }}" placeholder="Your phone" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="formGroupExampleInput2"> Quantity </label>
                            <input type="number" class="form-control" name="order_quantity" value="{{ form.order_quantity.value|default:'' }}" placeholder="How many products?" required>
                        </div>
  

                       

                          <div class="form-group mb-3">
                           
                            <input type="submit" class="btn btn-success" value="Send">
                          </div>
                      </form>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h2>Latest comments ({{product.comments.count}})</h2>
            </div>
            {% for comment in comments %}
                <div class="media card p-4 mt-2">
                    <div class="media-body">
                    <h4 class="mt-0"> {{comment.name}} <mark> {{comment.created_at}} </mark></h4>
                    <br>

                    <h5 class="mt-0"> {{comment.comment}} </h5>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="col-8 offset-2 mt-5">
            <div class="p-5">
                <div class="text-center">
                    <h3>Add Comment</h3>
                </div>
                <div>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger"> 
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
        
                <form method="post" action="{% url 'add_comment' product.id %}">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="id_name">Your name</label>
                        <input type="text" class="form-control" name="name" value="{{ form.name.value|default:'' }}" placeholder="Your name">
                    </div>
                    <div class="form-group mb-3">
                        <label for="id_email">Your email</label>
                        <input type="text" class="form-control" name="email" value="{{ form.email.value|default:'' }}" placeholder="Your email">
                    </div>
        
                    <div class="form-group mb-3">
                        <label for="id_comment">Your comment</label>
                        <textarea name="comment" class="form-control" cols="30" rows="10">{{ form.comment.value|default:'' }}</textarea>
                    </div>
        
                    <div class="form-group mb-3">
                        <input type="submit" class="btn btn-success" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in displayed_products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    {% if product.discount > 0 %}
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    {% endif %}
                    <!-- Product image-->
                    {% if product.image %}
                        <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                    {% else %}
                        <img class="card-img-top" src="{% static 'path/to/default/image.jpg' %}" alt="Default Image" />
                    {% endif %}

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                {% with ''|center:product.rating as ratings %}
                                    {%  for rating in ratings %}
                                        <div class="bi-star-fill"></div>
                                    {% endfor %}
                                {% endwith %}
                    
                            </div>
                            <!-- Product price-->
                            
                                {% if product.discount > 0 %}
                                    <span class="text-muted text-decoration-line-through">
                                    ${{product.price}} </span>
                                    ${{product.discounted_price}}
                                {% else%}
                                    ${{product.price}}
                                {% endif %}
                            
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product_details' product.id  %}">View product</a></div>
                    </div>
                  
                    
                </div>

            </div>
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}