{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>{% block title %} {% endblock %} </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'shop_website/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'shop_website/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href=" {% url 'product_list' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Categories
                            </button>
                            <ul class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton2">
                                {% for category in categories %}
                                    <li><a class="dropdown-item" href="{% url 'category_detail_id' category.slug %}">{{ category.title }}</a></li>
                                {% empty %}
                                    <li><a class="dropdown-item" href="#!">No categories available</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
        
                    <form class="d-flex">
                        <input type="text" class="form-contro" name="q">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-search-fill me-1"></i>
                            Search
                        </button>
                    </form>
                </div>
            </div>
            {% if user.is_authenticated   %}
            <form method="post" action="{% url 'logout_page' %}" >
                {% csrf_token %}
                <div> 
                    <mark> <b>{{user.username}}</b></mark><button type="submit" class="btn btn-danger">Logout</button>
                </div>
            </form>
            {% else %}
                <div> 
                    <a href="{% url 'login_page' %}" ><button type="submit" class="btn btn-primary">Login</button></a>
                </div>
            {% endif %}
        </nav>
        {% block main_content %}
        {% endblock %}

        {% block detail_content %}
        {% endblock %}
                                  
        
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2024 </p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'shop_website/js/scripts.js' %}"></script>

    </body>
</html>
